*{ margin: 0; padding: 0; text-decoration: none;}
#top{ height: 65px; background-color: rgb(118,199,192); color: white; font-weight: bolder;}
#top .right{ float: left; margin-left: 6.8%; margin-top: 1%;}
#top .right .mou {  font-size: 2em;}
#top .right .ver { font-size: 1.1em;}
#top .left { float: right; font-size: 1.1em; margin-right: 6.8%; margin-top: 1.7%; word-spacing: 25px;}
#top .left .search { outline: none; height: 5%; width: 10%; border-radius: 10px; position: absolute; left: 80%; top: 8%; border: 3px solid red; }
#top-bottom { font-weight: bolder; height: 65px; background-color: rgb(236,236,236);}
#top-bottom .left{ float: left; font-size: 1.3em; margin-left: 6.8%; margin-top: 1.4%;}
#top-bottom .right{ float: right; margin-right: 6.8%; font-size: 1.2em; margin-top: 1.3%;}
#middle { height: 1300px;  padding-top: 4%;}
#middle .map {margin-left: 6.8%;}
#middle #eti{ height: 60px; width: 86.4%; padding-top: 1%; background-color: rgb(236,236,236); margin-top: 5%; margin-left: 6.8%;}
#middle #eti .eti-zi{ font-weight: bolder; width: 80%; text-align: center;}
#middle .send { float: left; font-size: 2em; font-weight: bolder; margin-top: 3.5%; margin-left: 7%;}
#middle .input{ float: left; margin-top: 10%; margin-left: -15%; }
#middle .input .input1{ height: 40px; width: 450px; line-height: 4.5; background-color: rgb(229,230,230); border: 1px solid rgb(229,230,230); border-radius: 10px; outline: none; font-size: 1em;}
#middle .input .textarea { width: 700px; height: 220px; outline: none; background-color: rgb(229,230,230); border: 0; border-radius: 3px;}
#middle .input .button { background-color: red; height: 40px; width: 150px; border: 0; margin-left: -65%; color: red; font-size: 1em;}
#middle .name{ float: left; margin-top: 8.5%; margin-left: 4%; font-weight: bolder; font-size: 1.5em; line-height: 3;}
#middle .adress {float: right; margin-right: 16.8%; width: 15%; line-height: 3;}
#middle .adress .AD{  font-size: 1.2em; font-weight: bolder; margin-top: 20%; line-height: 4;}
#middle .adress .AD .picture{ float: left; line-height: 8; }
#middle .wenzi { float: right; margin-top: -10.5%; font-size: 0.9em; margin-right: 6.8%; width: 22%; }
#middle .wenzi .ut {line-height: 1;}
#middle .wenzi .shu {line-height: 5.5;}
#middle .wenzi .modus{ color: red; text-decoration: underline;}
#bottom { height: 250px; background-color: rgb(118,199,192); padding-left: 6.8%; padding-right: 6.8%; padding-top: 2%;}
#bottom #left {color: white; font-weight: bolder; width: 35%;}
#bottom .mo{ font-size: 1.5em; }
#bottom .ve{ font-size: 1em; }
#bottom .lo{ margin-top: 2%;}
#bottom .ph1{ line-height: 2; font-weight: bold; margin-top: 4%;}
#company { margin-left: 38%; margin-top: -15%; color: white; }
.com{font-size: 1.3em; color: gray; font-weight: bolder;}
#company .you{ margin-top: 1%; margin-left: 3%; font-weight: bolder; margin-right: 3%; font-size: 0.8em;}
#community {margin-left: 52%; margin-top: -14%; color: white; font-weight: bolder;}
#from { margin-left: 68%; margin-top: -12%; color: white; font-weight: bolder;}
.from{ font-size: 1.4em;}
.tu { border: 0; background-color: rgb(106,179,172); width: 60px; height: 60px; margin-top: 5%; border-radius: 5px;}
.tu .hei{ width: 30px; height: 25px; margin-top: 17px; margin-left: 15px;}
.time{ width: 90%; margin-top: -37%; margin-left: 19%;}
.may{ color: rgb(106,179,172);}
#bottom-bottom{height: 50px; background-color: rgb(106,179,172); padding-right: 6.8%; line-height: 50px; padding-left: 6.8%; color: #fff;}
.xia{ float: right; margin-right: 6.8%; padding-left: 3%;}
















